{% extends 'layout.html.twig' %}
{% block title %} Artistes {{ parent() }}{% endblock %}


{% block content %}
    <div class="container hidden-xs">
        <div class=row">
            <div class="portfolio-image img-responsive">
                <img src="images/Laklak/Meryem/OCoverbis.jpg" alt="Portfolio Title">


            </div>
        </div>
    </div>
    <div class="container">
        <div class=row">

            <h1 class="visible-xs">{{ artist.artistname }}</h1>

            <div class="col-sm-4 bottommargin haut">
                <div class="fbox-media clearfix bio thumbnail">
                    <a href="#"><img src="images/photoartistes/2016/meryem.jpg" alt="Visage Meryem Aboulouafa"></a>
                    <div class="detail_artiste">{% if artist.artistlaklak == 1 %}<img src="images/Laklak/logo.jpg" alt=""> {% endif %} {% if artist.artistlaklak == 0 %}{% endif %}></div>
                </div>

                <div class="row">
                    <div class="social col-xs-12">
                     <a href="{{ artist.artistwebsiteurl }}" target="_blank">
                         {%  if artist.artistwebsiteurl ==''  %}{%  else %}
                        <button class="button button-large button-border button-rounded tright nomargin" type="submit" id="#" name="siteArtiste">Site de l'artiste
                        </button>
                        </a>
                      {% endif %}
                    </div>
                    <div class="col-sm-12 bottommargin-sm">
                        {% if artist.artisttwitterurl =='' %}
                        {% else %}
                        <a href="{{ artist.artisttwitterurl }}" target="_blank" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        {% endif %}

                            {%  if artist.artistfacebookurl =='' %}
                            {% else %}
                        <a href="{{ artist.artistfacebookurl }}" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                            {% endif %}

                            {% if artist.artistsoundcloudurl =='' %}
                            {%  else %}
                        <a href="{{ artist.artistsoundcloudurl }}" target="_blank" class="social-icon si-dark si-colored si-soundcloud nobottommargin" style="margin-right: 10px;">
                            <i class="icon-soundcloud"></i>
                            <i class="icon-soundcloud"></i>
                        </a>
                            {% endif %}

                        {% if artist.artisttumblrurl =='' %}
                            {% else %}
                        <a href="{{ artist.artisttumblrurl }}" target="_blank" class="social-icon si-dark si-colored si-tumblr nobottommargin" style="margin-right: 10px;">
                            <i class="icon-tumblr"></i>
                            <i class="icon-tumblr"></i>
                        </a>
                                {% endif %}

                        {% if artist.artistvimeourl =='' %}
                            {% else %}
                        <a href="{{ artist.artistvimeourl }}" target="_blank" class="social-icon si-dark si-colored si-vimeo nobottommargin" style="margin-right: 10px;">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>
                                {% endif %}
                    </div>
                </div>

                    {% if artist.artistiframeyoutube =='' %}
                        {% else %}
                <div class="bio thumbnail video hidden-xs"><iframe width="100%" height="315" src="{{ artist.artistiframeyoutube }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                </div>
                    {% if artist.artistiframesoundcloud =='' %}
                        {%  else %}
                <div class="bio thumbnail sound">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="{{ artist.artistiframesoundcloud }}"></iframe>
                </div>
                            {% endif %}
                {% if artist.artistiframefacebook =='' %}
                    {% else %}
                <div class="bio thumbnail">
                    <iframe src="{{ artist.artistiframefacebook }}"></iframe></div>
                    {% endif %}
            </div>


            <div class="col-sm-8">
                <h1 class="hidden-xs"> {{ artist.artistname }}</h1>
                <div class=""> <h3>Biographie</h3>
                    <p>{{ artist.artistbio|raw }}</p>
                </div>


                <div class="divider"><i class="icon-circle"></i></div>
                <div class=""><h3>Discographie</h3>


                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 1" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 2" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 3" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 4" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 5" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                    </div>

                </div>
                <div class="divider"><i class="icon-circle"></i></div>

                <div class="nobottommargin">

                    <h3>Dates importantes</h3>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Timings</th>
                                <th>Location</th>
                                <th>Events</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="label label-danger">10:00 - 12:00</span></td>
                                <td>Main Auditorium</td>
                                <td>WWDC Developer Conference</td>
                            </tr>
                            <tr>
                                <td><span class="label label-danger">12:00 - 12:45</span></td>
                                <td>Cafeteria</td>
                                <td>Lunch</td>
                            </tr>
                            <tr>
                                <td><span class="label label-danger">15:00 - 18:00</span></td>
                                <td>Room - 25, 2nd Floor</td>
                                <td>Hardware Testing &amp; Evaluation</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="divider"><i class="icon-circle"></i></div>



                <div class="col_full clearfix">
                    <h3>Galerie</h3>

                    <div class="masonry-thumbs col-4" data-big="1" data-lightbox="gallery">
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-18.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-18.jpg" alt="Gallery Thumb 1"></a>
                        <a href="images/Laklak/Meryem/F94T0300.JPG" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/F94T0300.JPG" alt="Gallery Thumb 2"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-20.jpg" alt="Gallery Thumb 3"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-12.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-12.jpg" alt="Gallery Thumb 6"></a>
                        <a href="images/Laklak/Meryem/Meryem%20Aboulouafa.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem%20Aboulouafa.jpg" alt="Gallery Thumb 7"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                    </div>

                    <div class="divider"><i class="icon-circle"></i></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}