{% extends 'layout.html.twig' %}
{% block classHeader %}home {% endblock %}
{% block content %}
<section id="slider" class="full-screen force-full-screen clearfix swiper_wrapper" data-speed="2000" data-loop="true" data-autoplay="5000">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper full-screen force-full-screen">
            {% for slide in sliders %}
            <div class="swiper-slide" style="background-image: url('{{ slide.url }}');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center swiper_wrapper">
                        <h2 style="color: {{ slide.color }};" data-caption-animate="fadeInUp">{{ slide.title }}</h2>
                        <p style="color: {{ slide.color }};" data-caption-animate="fadeInUp" data-caption-delay="200">{{ slide.baseline }}</p>
                        {% if slide.button != false %}
                            <a data-caption-animate="fadeInUp" style="color: {{ slide.color }}; border-color:{{ slide.color }};"data-caption-delay="300" href="#" class="button button-border button-rounded">{{ slide.button }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
{% block footer %}
<!-- Go To Top ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts ============================================= -->
<script type="text/javascript" src="js/jquery.js"></script>
    {% if sliders|length > 1 %}
    <script type="text/javascript" src="js/plugins.js"></script>
{% endif %}

<!-- Footer Scripts ============================================= -->
<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
    {% endblock footer %}