{% extends 'layout.html.twig' %}
{% block title %}liste artistes{{ parent() }}{% endblock %}


{% block content %}

    <div class="container clearfix list_artist">

        <div class="fancy-title title-border">
            <h3>ARTISTES</h3>
        </div>


    {%  for artist in artists  %}
        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('{{ artist.artistimgprofilpath }}')">
                        <img class="img_list_artist" src="{{ artist.artistimgprofilpath }}" alt="{{ artist.artistname }}"/>
                        <h3 class="nom_list_artiste">{{ artist.artistname|upper }}</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste-{{ artist.id }}">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
            {% if artist.artistlaklak == 1 %} <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt="logo Laklak"/>{% endif %}
             {% if artist.artistlaklak == 0 %}{% endif %}
                </div>
            </div>
        </div>
            {% endfor %}

    </div>

    <!-- Footer -->

{% endblock %}