{% extends 'layout.html.twig' %}

{% block content %}


    <h1>Evènements</h1>

    <div class="container-fluid">


    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Visuel</td>
            <td>Evènement</td>
            <td>Action Modifier</td>
            <td>Action Supprimer</td>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td><img src="images/Upload/Event/{{ event.eventImgProfilePath }}" width="50px"></td>
                <td>{{ event.eventName }}</td>
                <td><a href="?page=updateEvent&id={{ event.id }}" class="btn btn-default">Modifier</a></td>
                <td><a href="?page=deleteEvent&id={{ event.id }}" class="btn btn-default">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot></tfoot>
    </table>

    </div>

{% endblock %}