{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-admin">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Ajouter
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">
            <form enctype="multipart/form-data" class="form-inline" method="post" action="?page=modifAccueil">
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="text" name="title" class="form-control" id="titre" placeholder="Titre" required>
                </div>
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="color" value="#555" name="color">
                </div>

                <div class="form-group">
                    <label for="baseline">Baseline</label>
                    <textarea type="" name="baseline" class="form-control" id="baseline"
                              placeholder="Baseline"></textarea>
                </div>
                <div class="form-group">
                    <label for="bouton">Bouton</label>
                    <input type="text" name="button" class="form-control" id="bouton" placeholder="Titre du bouton">
                </div>
                <div class="form-group">
                    <label for="urlBouton">URL du bouton</label>
                    <input type="text" name="urlButton" class="form-control" id="urlBouton" placeholder="URL du bouton">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
                    <input type="file" name="image" id="image">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="form-group">
                    <input type="submit" name="addSlider" id="image">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </form>
        </div>
    </div>
    <table class="table1 table table-hover">
        <thead>
        <tr>
            <td>Photo</td>
            <td>Titre</td>
            <td>Boutton</td>
            <td>URL Boutton</td>
            <td>Baseline</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>


        {% for slider in slides %}
            <tr>
                <td><img src="{{ slider.url }}"></td>
                <td>{{ slider.title }}</td>
                <td>{{ slider.button }}</td>
                <td>{{ slider.urlbutton }}</td>
                <td>{{ slider.baseline }}</td>
                <td>
                    <form class="form-admin" method="POST" action="?page=modifAccueil">
                        <button type="submit" name="deleteSlider" class="btn btn-danger" value="Supprimer"><i class="icon-trash"></i></button>
                        <input type="hidden" name="id" value="{{ slider.id }}">
                    </form>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseUpdate{{ slider.id }}"
                            aria-expanded="false" aria-controls="collapseUpdate{{ slider.id }}">
                        <i class="icon-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="collapse" id="collapseUpdate{{ slider.id }}">
                        <div class="well">
                            <form enctype="multipart/form-data" class="form-inline" method="post" action="?page=modifAccueil">
                                <div class="form-group">
                                    <label for="titre">Titre</label>
                                    <input type="text" name="title" class="form-control" id="titre" value="{{ slider.title }}" placeholder="Titre"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="color">Couleur</label>
                                    <input type="color" value="{{ slider.color }}" name="color">
                                </div>
                                <div class="form-group">
                                    <label for="baseline">Baseline</label>
                                    <textarea name="baseline" class="form-control" id="baseline"
                                              placeholder="Baseline">{{ slider.baseline }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="bouton">Bouton</label>
                                    <input type="text" name="button" class="form-control" value="{{ slider.button }}" id="bouton"
                                           placeholder="Lien du bouton">
                                </div>
                                <div class="form-group">
                                    <label for="urlBouton">URL Bouton</label>
                                    <input type="text" name="urlButton" class="form-control" value="{{ slider.urlbutton }}" id="urlBouton"
                                           placeholder="URL du bouton">
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
                                    <input type="file" name="image" id="image">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <input type="hidden" value="{{ slider.id }}" name="id">
                                <div class="form-group">
                                    <input type="submit" name="updateSlider" id="image">
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}